vite_backend_url=http://localhost:3000/api
VITE_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2OGVlY2Q1NTYwYmMwNzkzYmZhNTg3MjgiLCJlbWFpbCI6ImNlbnRyYWxvZmZpY2VAZXhhbXBsZS5jb20iLCJpYXQiOjE3NjA1NjQ3NjR9.Ln1haBV-D3NX_oY4iVxvKHRR90n9k2hLDY42dxJpoyw
